  *{
     margin:0;
     padding: 0;
     box-sizing: border-box;
   }

  .container{
     width: 960px;
     display: flex;
     flex-wrap: wrap;
     margin: auto;
   }
  .card strong{
    text-transform: uppercase;
  }
  .card{
    width: 300px;
    background-color: lightgreen;
    border-radius: 20px;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.6s ease;
  }
  .card:hover{
    background-color: darkblue;
    color: white;
  }
  .card h2{
    padding-top: 20px;
    text-align: center;
  }
  .card img{
    display: block;
    height: 150px;
    margin: 20px auto;
    border-radius: 10px;
  }
  .card p{
    margin: 0 15px;
    padding-bottom: 20px;
  }
